header {
    background-color: blueviolet;
    color: white;
    width: 100%;
    height: 100px;
    font-size: 50px;
    padding-top: 35px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

main {
    height: 10px;
    width: 100%;
}

.tb td {
    border: solid white 5px;
    background-color: rgb(0, 191, 255);
    width: 27%;
    height: 45px;
}

.tb a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.tb td:hover {
    background-color: rgb(102, 255, 0);
}

.tb {
    width: 20%;
    float: left;
}

.sec h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.sec p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.sec {
    float: left;
    width: 55%;
    padding-left: 10px;
}

.as p {
    text-align: center;
    font-style: italic;
    font-style: italic;
    font-weight: bold;
}

.as h2 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.as {
    width: 23%;
    height: 500px;
    float: left;
    background-color: rgb(0, 191, 255);
    margin-top: 10px;
    margin-left: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.foot h1 {
    width: 100%;
    height: 110px;
    background-color: blue;
    margin-top: 530px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-top: 50px;
}

@media screen and (max-width: 1440px) {
    .sec h2 {
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .sec p {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .sec {
        float: left;
        width: 55%;
        padding-left: 10px;
    }
    .as p {
        text-align: center;
    }
    .as h2 {
        text-align: center;
    }
    .as {
        width: 20%;
        height: 500px;
        float: left;
        background-color: rgb(0, 191, 255);
        position: relative;
        left: 15px;
        top: -4px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    .foot h1 {
        width: 100%;
        height: 110px;
        background-color: rgb(0, 217, 255);
        margin-top: 530px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        padding-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .as {
        width: 100%;
        height: 200px;
        margin-top: -10px;
        font-size: 7px;
        margin-left: -20px;
    }
    .foot {
        margin-top: 580px;
        margin-left: -6px;
        width: 100%;
    }
    .sec {
        margin-left: 10px;
        width: 70%;
    }
    .tb {
        width: 25%;
    }
}

@media screen and (max-width: 700px) {
    .as {
        width: 100%;
        height: 200px;
        margin-top: -10px;
        font-size: 7px;
        margin-left: -20px;
        margin-bottom: 0px;
    }
    .foot {
        margin-top: 900px;
        margin-left: -6px;
        width: 100%;
    }
    .sec {
        margin-left: 10px;
        width: 70%;
    }
    .tb {
        width: 100%;
    }
}